.header_dark {
    color: var(--color-dark);
    font-weight: 600;
    font-size: var(--font-size-h1);
    margin: var(--spacer) 0;
}

.header_light {
    color: var(--color-bright);
    font-weight: 600;
    font-size: var(--font-size-h1);
    margin: var(--spacer) 0;
}