.list {
    list-style: none;
    display: flex;
    justify-content: space-between;
    gap: var(--spacer-xxl);
    margin: var(--spacer) 0;
    overflow-x: scroll;

    &__item {
        display: inline;
        cursor: pointer;
    }}