.shop {
    position: relative;
    text-align: center;
    color: var(--color-bright);

    &__image {
        border-radius: 10px;
    }
    &__text {
        font-size: var(--font-size-shop);
        font-weight: 700;
        position: absolute;
        bottom: 8px;
        left: 16px;
        text-shadow: 0.07em 0 var(--color-primary), 0 0.07em var(--color-primary), -0.07em 0 var(--color-primary), 0 -0.07em var(--color-primary);
    }
}