.shop {
    cursor: pointer;
    position: relative;
    text-align: center;
    color: var(--color-bright);

    &__image {
        border-radius: 10px;
        transition: all 0.2s ease-in-out;

        &:after {
            background-color: #6ea9adad;
            content: '';
            position: absolute;
            width: 16rem;
            height: 3rem;
            bottom: 0;
            left: 0;
            border-bottom-left-radius: 10px;
            border-bottom-right-radius: 10px;
            transition: all 0.2s ease-in-out;
        }

        &:hover {
            &:after {
                background-color: #6ea9ad;
            }
        }
    }

    &__text {
        font-size: var(--font-size-shop);
        font-weight: 400;
        position: absolute;
        bottom: 8px;
        left: 8px;
        color: var(--color-bright);
    }
}