.link {
  border-radius: 20px;
  height: 40px;

  svg {
    height: 40px;
    padding: var(--spacer-xs);
    width: 40px;

    &:hover {
      path:last-of-type {
        fill: var(--color-tint);
      }
    }
  }
}