.link {
  border-radius: 20px;
  height: 40px;

  svg {
    height: 40px;
    padding: var(--spacer-xs);
    width: 40px;
    fill: var(--color-grey);

    &:hover {
      path:first-of-type {
        fill: var(--color-bright);
      }
    }
  }
}