.product {
    cursor: pointer;
    width: 85%;

    &__image {
        border-radius: 10px;
    }

    &:hover {
        .product__image {
            opacity: 0.9;
        }

        .product__text_name {
            text-decoration: underline;
        }

    }
}