.tabs {
    margin: var(--spacer-l) 0;

    &__buttons {
        text-align: center;
        width: 100%;
        margin-bottom: var(--spacer-l);
        display: flex;
        justify-content: flex-start;
        border-radius: 10px;
        height: 2rem;
        padding: var(--spacer-xxs);
        background: var(--color-light);
        align-items: center;
    }
}