.arrow_next {
    cursor: pointer;
    right: -45px;
    position: absolute;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    transition: transform .1s;
    width: 20px;

    $transition-time: .15s;

    &_top,
    &_bottom {
        background-color: var(--color-grey);
        height: 4px;
        left: -5px;
        position: absolute;
        top: 50%;
        width: 100%;

        &:after {
            background-color: var(--color-tint);
            content: '';
            height: 100%;
            position: absolute;
            top: 0;
            transition: all $transition-time;
        }
    }

    &_top {
        transform: rotate(45deg);
        transform-origin: bottom right;

        &:after {
            left: 100%;
            right: 0;
            transition-delay: 0s;
        }
    }

    &_bottom {
        transform: rotate(-45deg);
        transform-origin: top right;

        &:after {
            left: 0;
            right: 100%;
            transition-delay: $transition-time;
        }
    }

    &:hover & {

        &_top:after {
            left: 0;
            transition-delay: $transition-time;
        }

        &_bottom:after {
            right: 0;
            transition-delay: 0s;
        }
    }

    &:active {
        transform: translateX(-50%) translateY(-50%) scale(0.9);
    }
}

.arrow_prev {
    cursor: pointer;
    left: -35px;
    position: absolute;
    top: 50%;
    transform: translateX(50%) translateY(-50%);
    transition: transform .1s;
    width: 20px;

    $transition-time: .15s;

    &_top,
    &_bottom {
        background-color: var(--color-grey);
        height: 4px;
        left: -5px;
        position: absolute;
        top: 50%;
        width: 100%;

        &:after {
            background-color: var(--color-tint);
            content: '';
            height: 100%;
            position: absolute;
            top: 0;
            transition: all $transition-time;
        }
    }

    &_top {
        transform: rotate(-45deg);
        transform-origin: bottom left;

        &:after {
            left: 0;
            right: 100%;
            transition-delay: 0s;
        }
    }

    &_bottom {
        transform: rotate(45deg);
        transform-origin: top left;

        &:after {
            left: 100%;
            right: 0;
            transition-delay: $transition-time;
        }
    }

    &:hover & {

        &_top:after {
            right: 0;
            transition-delay: $transition-time;
        }

        &_bottom:after {
            left: 0;
            transition-delay: 0s;
        }
    }

    &:active {
        transform: translateX(50%) translateY(-50%) scale(0.9);
    }
}