.list {
  display: flex;
  justify-content: space-around;
  list-style: none;
  margin: var(--spacer) 0;

  &__item {
    cursor: pointer;
    display: inline;
  }

  &__link {
    color: var(--color-primary);
    font-size: var(--font-size-categories);
    font-weight: 700;
    position: relative;
    text-decoration: none;

    &::before {
      background-color: rgba(var(--color-tint-rgb), 0.749);
      bottom: -3px;
      content: "";
      height: 4px;
      left: 0;
      position: absolute;
      transition: all 0.3s ease-in-out;
      width: 100%;
      z-index: -1;
    }

    &:hover::before {
      bottom: 0;
      height: 100%;
    }
  }
}

.list-footer {
  display: flex;
  flex-direction: column;
  list-style: none;

  &__item {
    cursor: pointer;
  }

  &__link {
    color: var(--color-grey);
    text-decoration: none;

    &:hover {
      color: var(--color-bright);
    }
  }
}