.product {
  cursor: pointer;
  width: 85%;

  &__image {
    border-radius: 10px;
  }

  &:hover {
    .product-image {
      opacity: 0.9;
    }

    .product-text-name {
      text-decoration: underline;
    }
  }
}
