.product {
  cursor: pointer;
  width: 15rem;

  &__image {
    border-radius: 10px;

    >img {
      width: 256px;
      height: 256px;
      border-radius: 10px;
    }
  }

  &:hover {
    .product__image {
      opacity: 0.9;
    }

    .product__name {
      text-decoration: underline;
    }
  }
}