.link {
  background-color: var(--color-icon-background);
  border-radius: 20px;
  height: 40px;

  svg {
    height: 40px;
    padding: var(--spacer-xs);
    width: 40px;
    color: var(--color-primary);

    &:hover {
      path:last-of-type {
        fill: var(--color-bright);
      }
    }
  }
}
