:root {
  --spacer-xxs: 0.4rem;
  --spacer-xs: 0.8rem;
  --spacer-s: 1.2rem;
  --spacer-m: 1.6rem;
  --spacer: var(--spacer-m);
  --spacer-l: 2rem;
  --spacer-xl: 2.4rem;
  --spacer-xxl: 3.2rem;
  --spacer-xxxl: 4rem;
  --spacer-xxxxl: 5rem;
  --spacer-xxxxxl: 6rem;

  --color-primary: #1b4b66;
  --color-tint: #639599;
  --color-error: #B00020;
  --color-highlight: #FF8C4B;
  --color-accent: #F4F4F4;
  --color-dark: #13101E;
  --color-bright: #fff;
  --color-grey: #F1F1F1;
  --color-light: #B6B6B6;
  
  --base-line-height: 1.5;

  --font-size-h1: 2.4rem;
  --font-size-categories: 1.2rem;
  --heading-small: 2rem;

  --body-size-xs: 1.4rem;
  --body-size-regular: 1.8rem;
  --body-size-mobile: 1.6rem;
  --body-size-tablet: 1.8rem;
  --body-size-desktop: 1.8rem;

  --quotation-mark-size: 4rem;

  --font-w-regular: 400;
  --font-w-bold: 700;

  --border-radius-sm: 0.8rem;
  --border-radius-md: 1.6rem;
  --border-radius: var(--border-radius-md);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}