.header-dark {
  color: var(--color-dark);
  font-size: var(--font-size-h1);
  font-weight: 600;
  margin: var(--spacer) 0;
}

.header-light {
  color: var(--color-bright);
  font-size: var(--font-size-h1);
  font-weight: 600;
  margin: var(--spacer) 0;
}
