:root {
  --spacer-xxs: 0.4rem;
  --spacer-xs: 0.8rem;
  --spacer-s: 1.2rem;
  --spacer-m: 1.6rem;
  --spacer: var(--spacer-m);
  --spacer-l: 2rem;
  --spacer-xl: 2.4rem;
  --spacer-xxl: 3.2rem;
  --spacer-xxxl: 4rem;
  --spacer-xxxxl: 5rem;
  --spacer-xxxxxl: 6rem;
  --color-primary: #1b4b66;
  --color-tint: #6ea9ad;
  --color-tint-rgb: 110, 169, 173;
  --color-error: #b00020;
  --color-highlight: #ff8c4b;
  --color-accent: #4b4a4a;
  --color-dark: #13101e;
  --color-bright: #fff;
  --color-light: #f1f1f1;
  --color-grey: #b6b6b6;
  --color-grey-rgb: 182, 182, 182;
  --base-line-height: 1.5;
  --font-size-xxl: 2.4rem;
  --font-size-xl: 1.8rem;
  --font-size-l: 1.4rem;
  --font-size-m: 1.2rem;
  --font-size-s: 0.8rem;
  --font-size-xs: 0.4rem;
  --font-size-shop: 1.4rem;
  --font-size-button: 1rem;
  --heading-small: 2rem;
  --body-size-xs: 1.4rem;
  --body-size-regular: 1.8rem;
  --body-size-mobile: 1.6rem;
  --body-size-tablet: 1.8rem;
  --body-size-desktop: 1.8rem;
  --quotation-mark-size: 4rem;
  --font-w-regular: 400;
  --font-w-bold: 700;
  --border-radius-sm: 0.8rem;
  --border-radius-md: 1.6rem;
  --border-radius: var(--border-radius-md);
}