.navigation {
  &__top {
    align-items: center;
    display: flex;
    justify-content: space-between;
    width: 100%;
  }

  &__search {
    align-items: center;
    background-color: var(--color-light);
    border-radius: 10px;
    display: flex;
    padding: var(--spacer-xs);
    width: 70%;
    box-shadow: 3px 3px 8px 1px rgba(var(--color-grey-rgb));
  }

  &__icons {
    display: flex;
    justify-content: space-around;
    width: 10%;
  }

  &__bottom {
    margin: var(--spacer-l) 0;
    border-top: 1px solid var(--color-tint);
    border-bottom: 1px solid var(--color-tint);
  }
}

.search {
  &__input {
    background-color: inherit;
    border: 0;
    padding-left: var(--spacer-xs);
    width: 90%;

    &:focus {
      outline: none;
    }
  }
}

.icon {
  fill: var(--color-primary);
  height: 30px;
  width: 30px;
}

.logo {
  >img {
    height: 80px;
  }
}