@use '../../sass/utilities'as *;

.navigation {
  &__top {
    align-items: center;
    display: flex;
    justify-content: space-around;

    @include medium {
      justify-content: space-between;
    }
  }

  &__search {
    align-items: center;
    background-color: var(--color-light);
    border-radius: 10px;
    display: none;
    padding: var(--spacer-xs);
    box-shadow: 3px 3px 8px 1px rgba(var(--color-grey-rgb));

    @include medium {
      display: flex;
      width: 40%;
    }

    @include large {
      width: 70%;
    }
  }

  &__icons {
    display: flex;
    justify-content: space-between;
    width: 40%;

    @include medium {
      justify-content: space-around;
      width: 20%;
    }

    @include large {
      width: 15%;
    }
  }


  &__bottom {
    display: none;
    margin: var(--spacer-l) 0;
    // border-top: 1px solid var(--color-tint);
    // border-bottom: 1px solid var(--color-tint);

    @include medium {
      display: block;
    }
  }
}

.search {

  &__input {
    background-color: inherit;
    border: 0;
    padding-left: var(--spacer-xs);
    width: 90%;

    &:focus {
      outline: none;
    }
  }
}

.icon {
  fill: var(--color-primary);
  height: 30px;
  width: 30px;
  cursor: pointer;

  &:hover {
    fill: var(--color-tint);
  }

}

.logo {
  width: 60%;

  @include medium {
    width: 100%;
  }

  >img {
    max-height: 80px;
    max-width: 100%;
  }
}