@use '../../sass/utilities'as *;

.login-page {
    display: flex;
    justify-content: space-between;
    flex-direction: column;


    @include medium {
        flex-direction: row;
    }

    &__login-form {
        width: 100%;

        @include medium {
            width: 35%;
        }
    }

    &__register-form {
        width: 100%;

        @include medium {
            width: 60%;
        }
    }
}