.shop {
  color: var(--color-bright);
  cursor: pointer;
  position: relative;
  text-align: center;
  width: 15rem;

  &__image {
    border-radius: 10px;
    transition: all 0.2s ease-in-out;

    >img {
      width: 256px;
      height: 256px;
      border-radius: 10px;
    }

    &::after {
      background-color: rgba(var(--color-tint-rgb), 0.6);

      border-bottom-left-radius: 10px;
      border-bottom-right-radius: 10px;
      bottom: 4px;
      content: "";
      height: 3rem;
      left: 0;
      position: absolute;
      transition: all 0.2s ease-in-out;
      width: 16rem;
    }

    &:hover {
      &::after {
        background-color: var(--color-tint);
      }
    }
  }

  &__text {
    bottom: 8px;
    color: var(--color-bright);
    font-size: var(--font-size-shop);
    font-weight: 400;
    left: 8px;
    position: absolute;
  }
}