// $transition-time: 0.15s;

.arrow-next {
  position: absolute;
  cursor: pointer;
  right: -35px;
  top: 40%;
  transition: transform 0.3s ease;


  >svg {
    width: 20px;
    fill: var(--color-grey);

    &:hover {
      animation: fill-in 0.3s ease forwards;
    }
  }
}

.arrow-prev {
  position: absolute;
  cursor: pointer;
  left: -35px;
  top: 40%;
  transition: transform 0.3s ease;

  >svg {
    width: 20px;
    fill: var(--color-grey);

    &:hover {
      animation: fill-in 0.3s ease forwards;
    }
  }
}

@keyframes fill-in {
  0% {
    fill: var(--color-grey);
  }

  100% {
    fill: var(--color-tint);
  }
}